:host {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem;

  .add-product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .add-product-body {
    &-form {
      display: grid;
      .form-class {
        display: grid !important;
        grid-template-columns: repeat(2, 1fr) !important;
        gap: 1rem;
        width: 100%;
      }
    }
  }
}
