:host {
    display: flex;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 20px;
}
.search-container {
    width: 100%;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    input {
      height: 100%;
      padding: 0 10px;
      border-radius: 5px 0 0 5px;
      border: 1px solid #ccc;
      outline: none;
      border: none;
    }
  }
  .button {
      border-radius: 0 5px 5px 0;
      padding: 8px 10px !important;
      border: 1px solid #ccc;
      cursor: pointer;
      height: 56px !important;
  }
